@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/mixins";
@import "common/typography";
@import "common/reset";
@import "common/vendor";
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/home";
@import "components/products";
@import "layouts/about";
@import "layouts/artisans";
@import "components/artisan";
@import "layouts/single";
@import "layouts/shop";
@import "layouts/faqs";
@import "layouts/single_product";
@import "layouts/login";
@import "layouts/myaccount";
@import "layouts/cart";
