  .banner {
      padding: 8px 0;
      position: relative;
      z-index: 1;

      @include mobile {
          display: none;
      }

      a {
          color: white;
          text-decoration: none;
          font-weight: 600;
          @include rem(font-size, 20px);
          transition: .2s all;
      }

      .container {
          display: flex;
          justify-content: space-between;

          .brand {
              margin-right: 60px;
              width: 80px;
          }

          .left {
              display: flex;
              max-width: 697px;
              width: 100%;
              justify-content: space-between;

              a {
                  border-bottom: 1px solid rgba(255, 255, 255, 0);

                  &:hover {
                      border-bottom: 1px solid rgba(255, 255, 255, 1);

                  }
              }

              .nav-primary {
                  width: 100%;
                  display: flex;
                  align-items: center;

                  &.other {
                      a {
                          color: #4E4E4E !important;
                      }
                  }

                  .menu-menu-1-container {
                      max-width: 512px;
                      width: 100%;
                  }

                  .nav {
                      display: flex;
                      justify-content: space-between;
                      width: 100%;
                  }
              }

          }

          .right {
              display: flex;
              align-items: center;
              gap: 12px;

              .input {
                  position: relative;

                  svg {
                      position: absolute;
                      right: 20px;
                      top: 50%;
                      transform: translateY(-50%);
                      z-index: 2;
                  }
              }

              a {
                  border-radius: 19.5px;
                  padding: 8px 28px;
              }

              #in {
                  background-color: #D9D9D9;
                  color: #4E4E4E;
                  min-width: 65px;
                  display: flex;
                  justify-content: center;
              }

              #up {
                  background: linear-gradient(90deg, #E54D4D 0%, #BA3131 100%);
                  color: white;
              }

              input {
                  width: 205px;
                  background-color: #d9d9d9;
                  border-radius: 19.5px;
                  border: none;
                  font-weight: 400;
                  @include rem(font-size, 15px);
                  line-height: 18px;
                  color: #000000;
                  padding: 8px 16px;
                  padding-right: 48px;
                  box-sizing: border-box;
                  position: relative;
                  z-index: 2;

                  &:focus {
                      outline: none;
                  }
              }

              #live-search-results {
                  position: absolute;
                  padding: 10px;
                  background-color: #dadada;
                  width: 100%;
                  z-index: 1;
                  box-sizing: border-box;
                  border-radius: 5px;
                  margin-top: 5px;
                  transition: 0.1s all;

                  li {
                      display: flex;
                      justify-content: left;

                      a {
                          padding-left: 0;
                          color: black;
                      }
                  }

                  a {
                      font-size: 13px;
                      text-wrap: wrap;

                  }
              }
          }
      }
  }

  .banner-mobile {
      @include rem(padding-top, 20px);
      position: relative;
      z-index: 12;
      display: none;

      @include mobile {
          display: block;
      }

      &.active {
          .brand {
              filter: invert(100%);
          }
      }



      .brand {
          img {
              max-width: 60px;
          }

          filter: none;

          position: relative;
          transition: 0.4s all;
      }

      .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          background-color: transparent;

      }

      .openbtn {
          background: #E54D4D;
          width: 50px;
          height: 50px;
          border-radius: 5px;
          cursor: pointer;
          position: relative;
      }

      .openbtn .openbtn-area {
          transition: all .4s;
          width: 50px;
          height: 50px;
      }

      .openbtn span {
          position: absolute;
          background: #fff;
          display: inline-block;
          border-radius: 3px;
          left: 12px;
          height: 3px;
          transition: all .4s;
          width: 50%;

          &:nth-of-type(1) {
              top: 16px;
          }

          &:nth-of-type(2) {
              top: 24px;
          }

          &:nth-of-type(3) {
              top: 32px;
          }
      }

      .openbtn.active .openbtn-area {
          transform: rotate(360deg);
      }


      .openbtn.active span {
          &:nth-of-type(1) {
              width: 45%;
              top: 18px;
              left: 14px;
              transform: translateY(6px) rotate(-45deg);
          }

          &:nth-of-type(2) {
              opacity: 0;
          }

          &:nth-of-type(3) {
              width: 45%;
              top: 30px;
              left: 14px;
              transform: translateY(-6px) rotate(45deg);
          }
      }
  }

  .overlay {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #f4f4f4;
      transition: 0.4s all;
      z-index: -1;
      top: 0;
      display: none;
      @include rem(padding-top, 150px);
      @include mobile{
        display: block;
      }

      .nav-primary {
          display: inline-flex;
          flex-direction: column;
          padding-left: 40px;
          padding-top: 40px;
          gap: 10px;

          ul {
              display: flex;
              flex-direction: column;
              gap: 10px;
          }
      }

      a {
          color: white;
          text-decoration: none;
          font-weight: 600;
          font-size: 1.25rem;
          color: #4E4E4E;
      }

      &.active {
          z-index: 11;
          opacity: 1;
      }

      #header-search-form {
          display: inline-block;
      }

      .input {
          position: relative;

          svg {
              position: absolute;
              right: 20px;
              top: 50%;
              transform: translateY(-50%);
              z-index: 2;
          }
      }

      a {
          &#in {
              border-radius: 19.5px;
              padding: 8px 28px;
              width: fit-content;
              min-width: 65px;
              display: flex;
              justify-content: center;
          }

          &#up {
              border-radius: 19.5px;
              padding: 8px 28px;
              width: fit-content;
          }
      }

      #in {
          background-color: #D9D9D9;
          color: #4E4E4E;
      }

      #up {
          background: linear-gradient(90deg, #E54D4D 0%, #BA3131 100%);
          color: white;
      }

      input {
          width: 205px;
          background-color: #d9d9d9;
          border-radius: 19.5px;
          border: none;
          font-weight: 400;
          @include rem(font-size, 15px);
          line-height: 18px;
          color: #000000;
          padding: 8px 16px;
          padding-right: 48px;
          box-sizing: border-box;
          position: relative;
          z-index: 2;

          &:focus {
              outline: none;
          }
      }

      #live-search-results {
          position: absolute;
          padding: 10px;
          background-color: #dadada;
          width: 100%;
          z-index: 1;
          box-sizing: border-box;
          border-radius: 5px;
          margin-top: 5px;
          transition: 0.1s all;

          li {
              display: flex;
              justify-content: left;

              a {
                  padding-left: 0;
                  color: black;
              }
          }

          a {
              font-size: 13px;
              text-wrap: wrap;

          }
      }
  }