article {
    svg {
        position: absolute;
        top: 0;
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        #content{
            max-width: 1000px;
        }
        #title {

            font-weight: 600;
            font-size: 36px;
            line-height: 42px;
            display: flex;
            justify-content: center;
            width: 100%;
            color: #FFFFFF;
            @include rem(padding-top, 120px);

        }
        #thumbnail{
            display: flex;
            justify-content: center;
            @include rem(padding, 82px 0 54px 0);
            width: 100%;
            img{
                max-width: 1000px;
                width: 100%;
                max-height: 476px;
                object-fit: cover;
            }
        }
        
        
    }   
    #p_title{
        font-size: 28px;
        @include rem(padding, 60px 0 30px 0);
        max-width: 1000px;
        margin: auto;
        font-weight: 500;
    }
    #related-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include rem(padding-bottom,70px);
        max-width: 1000px;
        margin: auto;
        position: relative;
        z-index: 2;
        row-gap: 20px;
    }
}